# Logs
logs
*.log
npm-debug.log*


node_modules
.DS_Store
dist
coverage
*.local

/cypress/e2e/videos/
/cypress/e2e/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
